<!DOCTYPE html>
<html>
<head>
	<title> Home Page</title>
</head>
<body>
	<ul>
		<li>
			<a href="{{ path('login') }}"> Login </a>
		</li>
		<li>
			<a href="{{ path('homepage') }}"> Homepage </a>
		</li>
		<li>
			<a href="{{ path('registration') }}"> Registration </a>
		</li>
	</ul>
</body>
</html>